.digits-landing-background {
  background: url('images/Background.png') no-repeat center center fixed;
  background-size: cover;
}

#body {
  background: url('images/Background.png') no-repeat center center fixed;
  background-size: cover;
}

.gridbkg {
  background-color: rgba(0, 0, 0, .64);
  margin-top: 10%;
}

.margin {
  margin-top: 20%;
}

.footer {
  background-Color: #2F4C39;
  color: #f5f0e6;
  padding: 11px 0px;
  font-size: 14px;
  margin-top: 50px;
}